
# Домашнее задание к лекции "Статистика. Практика"
## Задание 1

Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?
2) Критикам нравятся больше игры на PC или на PS4?
3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

    сформулируйте нулевую и альтернативную гипотезы;
    выберите пороговый уровень статистической значимости;
    опишите полученные результаты статистического теста.

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('video_games_sales.csv')
pd.to_numeric(data['Critic_Score'])
data = data[data['Critic_Score'].notna()]
data.head()

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg
5,6,Pokemon Red / Green / Blue Version,pokmon-red,Role-Playing,E,GB,Nintendo,Game Freak,NaN,9.4,...,NaN,NaN,NaN,NaN,1998.0,NaN,http://www.vgchartz.com/game/4030/pokemon-red-...,1,NaN,/games/boxart/full_6442337AmericaFrontccc.png

####  Как критики относятся к спортивным играм?
H0: Средняя оценка спортивной игры критиками >= 80%  
H1: Средняя оценка спортивной игры критиками меньше 80%

За alpha будем принимать 0.05

In [14]:
alpha = 0.05

In [15]:
sport_games = data.loc[data['Genre'] == 'Sports']
sport_games.head()

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg
16,17,Wii Fit,wii-fit,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.9,...,NaN,NaN,NaN,NaN,2008.0,NaN,http://www.vgchartz.com/game/7480/wii-fit/?reg...,1,8.0,/games/boxart/full_3619557AmericaFrontccc.jpg
17,18,Wii Fit Plus,wii-fit-plus,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/35077/wii-fit-plu...,1,NaN,/games/boxart/full_2716475AmericaFrontccc.jpg
68,69,FIFA 18,fifa-18,Sports,E,PS4,EA Sports,EA Vancouver,NaN,8.3,...,1.27,8.64,0.15,1.73,2017.0,02nd Apr 18,http://www.vgchartz.com/game/180525/fifa-18/?r...,1,NaN,/games/boxart/full_5257064AmericaFrontccc.jpg

In [16]:
from scipy import stats as st
result = st.ttest_1samp(sport_games['Critic_Score'], 7.5)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее меньше 7.5')
else:
    print('Не отвергаем нулевую нулевую гипотезу, спортивные игры нравятся критикам')

Ttest_1sampResult(statistic=-3.719660933773832, pvalue=0.00021577789041608633)
Отвергаем нулевую гипотезу, среднее меньше 7.5

#### Критикам нравятся больше игры на PC или на PS4?

H0: Средняя оценка игр на PC и PS4 одинакова   
H1: Средняя оценка игр на PC и PS4 различается 

За alpha будем принимать 0.05

In [10]:
PC_games = data.loc[data['Platform'] == 'PC']
PS4_games = data.loc[data['Platform'] == 'PS4']

In [17]:
result = st.ttest_ind(PC_games['Critic_Score'], PS4_games['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм PC и PS4')
    if result.statistic > 0:
        print("Критики любят игры на PC больше, чем на PS4")
    else:
        print("Критики любят игры на PS4 больше, чем на PC")
else:
    print('Не отвергаем нулевую гипотезу, игры нравятся одинаково')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.006931808250254211)
Отвергаем нулевую гипотезу, критики по разному относятся к играм PC и PS4
Критики любят игры на PS4 больше, чем на PC

#### Критикам больше нравятся стрелялки или стратегии?

H0: Средняя оценка стрелялок и стратегий одинакова  
H1: Средняя оценка стрелялок и стратегий различается  

За alpha будем принимать 0.05

In [21]:
shooter_games = data[data.Genre == 'Shooter']
strategy_games = data[data.Genre == 'Strategy']

In [22]:
result = st.ttest_ind(shooter_games['Critic_Score'], strategy_games['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм')
    if result.statistic > 0:
        print("Критики любят стрелялки больше, чем стратегии")
    else:
        print("Критики любят стрелялки больше, чем стратегии")
else:
    print('Не отвергаем нулевую гипотезу, игры нравятся одинаково')

Ttest_indResult(statistic=-1.6073949711166526, pvalue=0.10838786414223071)
Не отвергаем нулевую гипотезу, игры нравятся одинаково


## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

    from sklearn.feature_extraction.text import TfidfVectorizer
    tfidf = TfidfVectorizer()
    tfidf_matrix = tfidf.fit_transform(df.Message)
    names = tfidf.get_feature_names()
    tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=cname)

Можете поэкспериментировать с параметрами TfidfVectorizer;

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

8) Опишите результаты при помощи confusion_matrix;

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [95]:
spam = pd.read_csv('spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [49]:
#1) Привидите весь текст к нижнему регистру;

spam['Message'] = spam['Message'].str.lower()
spam.head()

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

In [50]:
import re

In [51]:
#2) Удалите мусорные символы;

spam_words = spam
spam_words['Message'] = spam_words['Message'].apply(lambda x: re.sub('[\W_]+',' ', x))
spam_words.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

In [52]:
#3) Удалите стоп-слова;
spam_words['Message'] = spam_words['Message'].apply(lambda x: x.split())
spam_words.head()

  Category                                            Message
0      ham  [go, until, jurong, point, crazy, available, o...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      ham  [u, dun, say, so, early, hor, u, c, already, t...
4      ham  [nah, i, don, t, think, he, goes, to, usf, he,...

In [60]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/egor/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [61]:
stopwords_set = set(stopwords.words('english'))
without_sw = spam_words

In [62]:
without_sw['Message'] = without_sw['Message'].apply(lambda x: [word for word in x if word not in stopwords_set])
without_sw.head()

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham     [nah, think, goes, usf, lives, around, though]

In [67]:
#4) Привидите все слова к нормальной форме;
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/egor/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [64]:
wordnet_lemmatizer = WordNetLemmatizer()
spam_lemmatized = without_sw

In [68]:
spam_lemmatized['Message'] = spam_lemmatized['Message'].apply(lambda x:[wordnet_lemmatizer.lemmatize(word) for word in x])

In [72]:
spam_lemmatized.head()

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham        [nah, think, go, usf, life, around, though]

In [73]:
# 5) Преобразуйте все сообщения в вектора TF-IDF.
spam_lemmatized['Message'] = spam_lemmatized['Message'].apply(lambda x: ' '.join(x))
spam_lemmatized.head()

  Category                                            Message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though

In [75]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [77]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam_lemmatized['Message'])
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [89]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
tfidf_matrix['ok']
#Какие-то значения есть

0       0.000000
1       0.271894
2       0.000000
3       0.000000
4       0.000000
          ...
5567    0.000000
5568    0.000000
5569    0.000000
5570    0.000000
5571    0.000000
Name: ok, Length: 5572, dtype: float64

In [88]:
#Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
from sklearn.model_selection import train_test_split

In [96]:
tfidf_matrix['Category'] = spam['Category']
tfidf_matrix['Message'] = spam['Message']
tfidf_matrix.head()

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud,Category,Message
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham,"Go until jurong point, crazy.. Available only ..."
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham,Ok lar... Joking wif u oni...
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spam,Free entry in 2 a wkly comp to win FA Cup fina...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham,U dun say so early hor... U c already then say...
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham,"Nah I don't think he goes to usf, he lives aro..."

In [101]:
spam_train, spam_test = train_test_split(tfidf_matrix, test_size=0.3, random_state=42)

In [98]:
#7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
from sklearn.linear_model import LogisticRegression

In [102]:
lr = LogisticRegression(random_state=42)

y_train = spam_train['Category']
y_test = spam_test[['Category', 'Message']]

del spam_train['Category']
del spam_test['Category']
del spam_train['Message']
del spam_test['Message']

In [103]:
lr = lr.fit(spam_train, y_train)
lr.predict(spam_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [106]:
result = pd.DataFrame([y_test['Category'].values, lr.predict(spam_test)]).T
result.head()

     0    1
0  ham  ham
1  ham  ham
2  ham  ham
3  ham  ham
4  ham  ham

In [107]:
# 8) Опишите результаты при помощи confusion_matrix;
from sklearn.metrics import confusion_matrix

In [129]:
matrix = confusion_matrix(y_test['Category'].values, lr.predict(spam_test))
print(matrix)
print('Было предсказано', matrix[0][0] + matrix[1][1], 'результатов а это:', (matrix[0][0] + matrix[1][1])/len(result.index)*100,'%')

[[1445    3]
 [  66  158]]
Было предсказано 1603 результатов а это: 95.8732057416268 %

In [126]:
#9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).
total = result
total['Message'] = spam['Message']
total = total[total[0] != total[1]]

In [127]:
total

         0     1                                            Message
17     ham  spam  Eh u remember how 2 spell his name... Yes i di...
40    spam   ham  Pls go ahead with watts. I just wanted to be s...
47    spam   ham                    Fair enough, anything going on?
74    spam   ham                               U can call me now...
84    spam   ham                                     Yup next stop.
...    ...   ...                                                ...
1525  spam   ham                      Hi:)cts employee how are you?
1567  spam   ham                      I am late. I will be there at
1569  spam   ham  Today is ACCEPT DAY..U Accept me as? Brother S...
1576   ham  spam  Sounds gd... Haha... Can... Wah, u yan jiu so ...
1586  spam   ham  I was wondering if it would be okay for you to...

[69 rows x 3 columns]

In [128]:
#Проверим
(matrix[0][1] + matrix[1][0]) == len(total.index)

True